<a href="https://colab.research.google.com/github/nachanyoung/Team_Algo_Sprint-/blob/main/Ben_Algo_sprint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import the libraries
import numpy as np
import pandas as pd

In [2]:
#load the dataset
df = pd.read_csv('./health_infrastructure.csv', encoding = "latin")
df.head()

,Country,Year,Hospital_density,gdp,Communicable_disease,Hospital_Expenditure,Total_Health_Expenditure,Injury Count,life_expectancy,Mortality,Population
0,Australia,2000,6.648,4.158450e+11,35.6,2.987,7.594,138.30,79.2,676.8,19028802.0
1,Australia,2001,6.656,3.793580e+11,53.3,3.024,7.678,141.76,79.6,667.5,19274701.0
2,Australia,2002,6.586,3.955730e+11,32.2,3.123,7.876,142.60,79.9,682.5,19495210.0
3,Australia,2003,6.521,4.674980e+11,29.3,3.157,7.881,143.47,80.2,668.3,19720737.0
4,Australia,2004,6.477,6.143260e+11,46.4,3.250,8.087,144.10,80.5,663.8,19932722.0

In [3]:
df.tail()

,Country,Year,Hospital_density,gdp,Communicable_disease,Hospital_Expenditure,Total_Health_Expenditure,Injury Count,life_expectancy,Mortality,Population
892,United Kingdom,2003,2.960,2.056700e+12,3.0,5.036,7.988,498.5,78.3,1026.4,59636662.0
893,United Kingdom,2011,2.960,2.666400e+12,5.5,5.036,9.724,333.0,80.7,872.6,63285145.0
894,United Kingdom,2006,2.960,2.709980e+12,4.5,5.036,8.475,434.5,79.3,940.7,60827067.0
895,United Kingdom,2001,2.960,1.648770e+12,1.9,5.036,7.413,546.2,78.0,1022.4,59113016.0
896,United States,2022,1.847,2.546270e+13,5.1,5.678,16.634,748.3,76.4,1020.7,333287557.0

In [4]:
df.shape

(897, 11)

In [5]:
#display information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 897 entries, 0 to 896
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   897 non-null    object
 1   Year                      897 non-null    int64
 2   Hospital_density          897 non-null    float64
 3   gdp                       897 non-null    float64
 4   Communicable_disease      897 non-null    float64
 5   Hospital_Expenditure      897 non-null    float64
 6   Total_Health_Expenditure  897 non-null    float64
 7   Injury Count              897 non-null    float64
 8   life_expectancy           897 non-null    float64
 9   Mortality                 897 non-null    float64
 10  Population                897 non-null    float64
dtypes: float64(9), int64(1), object(1)
memory usage: 77.2+ KB

In [6]:
df.columns

Index(['Country', 'Year', 'Hospital_density', 'gdp', 'Communicable_disease',
       'Hospital_Expenditure', 'Total_Health_Expenditure', 'Injury Count',
       'life_expectancy', 'Mortality', 'Population'],
      dtype='object')

In [7]:
df.isna().sum()

Country                     0
Year                        0
Hospital_density            0
gdp                         0
Communicable_disease        0
Hospital_Expenditure        0
Total_Health_Expenditure    0
Injury Count                0
life_expectancy             0
Mortality                   0
Population                  0
dtype: int64

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import cross_val_score

In [9]:
X = df[['gdp', 'Communicable_disease', 'Hospital_Expenditure', 'Total_Health_Expenditure', 'Injury Count', 'life_expectancy', 'Mortality', 'Population']]
Y = df['Hospital_density']

corr = X.corrwith(Y)
corr

gdp                        -0.021798
Communicable_disease        0.089968
Hospital_Expenditure        0.500842
Total_Health_Expenditure   -0.069142
Injury Count               -0.081538
life_expectancy            -0.167741
Mortality                  -0.202806
Population                  0.074867
dtype: float64

In [10]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [11]:
model = LinearRegression()
model.fit(X_train, Y_train)

LinearRegression()

In [12]:
y_pred = model.predict(X_test)
y_pred

array([-0.49849687,  2.46198701,  0.69591541,  0.7626606 ,  3.10160944,
        0.4176273 ,  3.17866987, -0.40791699,  2.33365508,  3.31852062,
        3.76707533,  5.10556343,  4.18352685,  1.86948729,  2.95736595,
        4.3507125 ,  4.73022137,  2.69438837,  7.41941111,  2.36773911,
        2.83515653,  1.56813553,  3.69478006,  2.93312204, 15.03759246,
        5.4131113 ,  3.11400564,  1.84636275,  4.30841746,  1.55068019,
        2.95526066,  3.53973255,  3.03528897,  1.74007972,  2.14010813,
        1.6134665 ,  3.17188004,  3.2158034 ,  4.02777572,  3.21394313,
        1.81260385,  3.20248488,  2.87121055,  3.78414679,  1.69267684,
        0.63655306,  1.48250374,  4.29919799,  2.29974253,  4.16973137,
        1.59187323,  2.94117307,  4.16418377, -0.04824393,  4.25455538,
        3.89168936,  1.34156098,  3.31328104,  2.24403368,  2.13647836,
        2.78937293,  3.68752812,  1.8043945 ,  0.42735597,  3.23751492,
        2.84583877,  1.35985792,  2.7594815 ,  4.54862963,  5.06000208,
        4.35287544,  2.48096471,  5.57865897,  3.47552986,  3.18456221,
        4.09863943,  1.03879653,  3.72978155,  4.6499073 ,  5.53906782,
        2.5752004 ,  1.59220324,  5.07199946,  5.95307515,  2.94904506,
        3.28593767,  3.35207523, 16.41910553,  2.61670581,  4.71792441,
        1.0311891 ,  3.24712659,  2.16330225,  2.33078693,  1.5360411 ,
        3.3264617 ,  2.97212349,  3.68741108,  3.654553  ,  2.0230746 ,
        4.73770887,  2.00822032,  3.38867602,  3.51221997,  2.44785246,
        1.63706076,  2.15784966,  4.29205342,  3.78994991,  2.32677044,
        1.95311877,  3.45184681,  3.63572016,  6.03391008,  3.16690642,
        2.24716906,  3.55755005,  2.46352297,  2.4855944 ,  2.18906177,
        4.10537878,  3.62653082,  2.73067819,  1.31027252,  3.44585736,
        1.96064822, 17.01807039,  3.79720014,  5.6471205 ,  3.74405813,
        4.58373152,  3.32691558,  3.27993558,  3.08191948,  5.24372459,
        2.65873425,  3.37089679,  5.51266353,  5.05669085,  1.48962875,
        2.4716107 ,  4.86769761,  4.5981332 ,  3.09962356,  6.96346786,
       16.537805  ,  1.79026539,  3.04061188,  3.14017701,  3.14211793,
       15.32248319,  5.34124531,  1.58363801,  2.37822411,  1.36065239,
        2.36308187,  2.47245069,  1.12018765,  3.08236341,  3.03095136,
        5.88697728,  1.94430002,  3.08845819,  6.11172483,  4.03992964,
        2.61629249,  3.14719   ,  4.33310903,  3.34992071,  3.81843194,
        3.80473033, 14.21384699,  2.63328834,  1.87191805,  7.87814828,
        3.73250704,  2.94648819,  0.81667124,  6.03038956, -0.61701317])